<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Answerly" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans bg-page-light" <%= "data-controller='user-notifications' data-user-notifications-user-id-value='#{current_user.id}'".html_safe if user_signed_in? %>>
    <%= render 'shared/navbar' %>

    <!-- Toast Notifications Container -->
    <div class="fixed top-20 right-4 z-50 space-y-4" data-controller="toast">
      <% if notice.present? %>
        <div data-controller="toast"
             data-toast-message-value="<%= notice %>"
             data-toast-type-value="notice"
             data-toast-duration-value="5000">
        </div>
      <% end %>
      <% if alert.present? %>
        <div data-controller="toast"
             data-toast-message-value="<%= alert %>"
             data-toast-type-value="alert"
             data-toast-duration-value="5000">
        </div>
      <% end %>
    </div>

    <main class="container mx-auto px-4 py-8">
      <%= yield %>
    </main>
  </body>
</html>
